@use 'base/variables' as v;

.alertas {
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    width: 100%;
    border-radius: 25px;
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    &.error {
        background-color: v.$rojo;

    }
    &.exito{
        background-color: v.$verde;
    }
}