@use '../base/variables'as v;
@use '../base/mixins'as m;

.formulario{
width: 100%;
margin-top:5rem;




}
.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
  
    label{
        flex:0 0 10rem;
    }
    input{
        flex: 1;
        border: none;
        padding:15px;
        border-radius: 25px;
        @include m.telefono{

            width:40%;
            
}


        &:disabled{
            background-color:v.$blanco;
            color:v.$negro;
            cursor: not-allowed;
        }
        
    }
}
.noCitas{
    @include m.telefono{
        font-size:1.5rem;
    }
}